In [2]:
import pandas as pd

In [3]:
green_data=pd.read_parquet('green_tripdata_2025-11.parquet')
green_data.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
5,1,2025-11-01 00:42:13,2025-11-01 01:04:50,N,1.0,112,48,2.0,5.10,26.8,...,1.5,6.55,0.0,NaN,1.0,39.35,1.0,1.0,2.75,0.75
6,2,2025-11-01 00:05:41,2025-11-01 00:39:20,N,1.0,83,87,1.0,9.80,43.6,...,0.5,9.92,0.0,NaN,1.0,59.52,1.0,1.0,2.75,0.75
7,2,2025-11-01 00:42:14,2025-11-01 01:13:20,N,1.0,66,233,1.0,5.01,28.9,...,0.5,6.98,0.0,NaN,1.0,41.88,1.0,1.0,2.75,0.75
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.1,...,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.00,0.00
9,2,2025-11-01 00:56:33,2025-11-01 01:01:34,N,1.0,130,130,1.0,1.15,7.9,...,0.5,0.00,0.0,NaN,1.0,10.40,2.0,1.0,0.00,0.00

In [4]:
green_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  object
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), object(1)
memory usage: 7.0+ MB

- Most Dtypes appear to be correct - Payment type and trip type may be objects instead of floats. Need to check original data. Passenger count likely should be int.

- Some null values in store_and_fwd_flag, RatecodeID, passenger_count, payment_type, trip_type, congestion_surcharge

- ehail_fee has no non-null values - should be removed

In [9]:
green_data = green_data.dropna(axis=1, how='all')

dtype = {
    "VendorID": "Int64",
    "lpep_pickup_datetime": "datetime64[ns]",
    "lpep_dropoff_datetime": "datetime64[ns]",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "trip_type": "Int64",
    "congestion_surcharge": "float64",
    "cbd_congestion_fee": "float64"
}
green_data = green_data.astype(dtype)
green_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  Int64
 1   lpep_pickup_datetime   46912 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[ns]
 3   store_and_fwd_flag     41343 non-null  string
 4   RatecodeID             41343 non-null  Int64
 5   PULocationID           46912 non-null  Int64
 6   DOLocationID           46912 non-null  Int64
 7   passenger_count        41343 non-null  Int64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  improvement_surcharge  46912 non-null  float64
 15  total_amount           46912 non-null  float64
 16  payment_type           41343 non-null  Int64
 17  trip_type              41342 non-null  Int64
 18  congestion_surcharge   41343 non-null  float64
 19  cbd_congestion_fee     46912 non-null  float64
dtypes: Int64(7), datetime64[ns](2), float64(10), string(1)
memory usage: 7.5 MB

In [6]:
taxi_zone=pd.read_csv('taxi_zone_lookup.csv')
#taxi_zone.head(10)
taxi_zone.tail(15)

     LocationID        Borough                       Zone service_zone
250         251  Staten Island                Westerleigh    Boro Zone
251         252         Queens                 Whitestone    Boro Zone
252         253         Queens              Willets Point    Boro Zone
253         254          Bronx   Williamsbridge/Olinville    Boro Zone
254         255       Brooklyn  Williamsburg (North Side)    Boro Zone
255         256       Brooklyn  Williamsburg (South Side)    Boro Zone
256         257       Brooklyn            Windsor Terrace    Boro Zone
257         258         Queens                  Woodhaven    Boro Zone
258         259          Bronx         Woodlawn/Wakefield    Boro Zone
259         260         Queens                   Woodside    Boro Zone
260         261      Manhattan         World Trade Center  Yellow Zone
261         262      Manhattan             Yorkville East  Yellow Zone
262         263      Manhattan             Yorkville West  Yellow Zone
263         264        Unknown                         NV          NaN
264         265        Unknown                        NaN          NaN

In [7]:
taxi_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

- Need to research what LocationID refers to. Appears to be row number. Does it match pick up and drop off location ids in green table?

- Service zone is missing two values and zone is missing one value.

- There are locations with the string 'Unknown'. More missing data than it appears?